<div class="row"> <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: December 01, 2025</h3>
    <table class="table table-striped">
      <tr> <!-- row 1   -->
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00</td>
        <td>Start - Introduction to the workshop, instructors, helpers, and code of conduct</td>
      </tr>
      <tr>
        <td>09:30</td>
        <td><a href="https://julia-sprenger.github.io/python-novice-gapminder/">Plotting and Programming with Python</a>
        </td>
      </tr>
      <tr>
        <td>10:30</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td>Introduction to Data Analysis and Best Practices in Python</td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:15</td>
        <td>Reading Tabular Data into DataFrame</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td> Lunch Break</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Data Analysis and Manipulation</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Conditionals and For Loops</td>
      </tr>
      <tr>
        <td>15:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>Data Visualisation in Python</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: December 02, 2025</h3>
    <table class="table table-striped">
      <tr>
        <td>09:00</td>
        <td><a href="https://julia-sprenger.github.io/shell-novice/">Introduction to the Unix Shell</a></td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:15</td>
        <td>Navigating Files and Folders</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:15</td>
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>
      </tr>
      <tr>
        <td>12:00</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>12:15</td>
        <td>Creating Repositories</td>
      </tr>
      <tr>
        <td>13:00</td>
        <td> Lunch Break</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Tracking Changes in Git</td>
      </tr>
      <tr>
        <td>14:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Remotes in GitLab</td>
      </tr>
      <tr>
        <td>15:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>Collaborating in GitLab</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>Finish day two</td>
      </tr>
      <tr>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a>
        </td>
      </tr>
    </table>
  </div>
</div>
